<div class="row">

    <ul id="services_list" class="block-grid mobile three-up">
        <li>
            <a title="View all examples for Ruby on Rails Development Services" href="http://localhost:3000/technologies/350860022">

                Ruby on Rails Development<br>

            </a>
            <br></br>

            Development of sophisticated online applications with this open-source web framework for shorter development cycles and easier future maintenance.
        </li>
        <li>
            <a title="View all examples for Ruby on Rails Development Services" href="http://localhost:3000/technologies/350860022">

                Wordpress Design & Development

            </a>
            <br></br>

            Customizing and extending this most wonderful of open source content management systems as the infrastructure for corporate websites, online applications, and blogs.
        </li>
        <li>

            <a title="View all examples for Ruby on Rails Development Services" href="http://localhost:3000/technologies/350860022">

                Web Design<br>

         </a>
         <br></br>

         Appropriate, modern, aesthetically-pleasing responsive web design.
<br></br><br></br><br></br>
     </li>
     <li>
        <a title="View all examples for Ruby on Rails Development Services" href="http://localhost:3000/technologies/350860022">

         Responsive Design

     </a>
     <br></br>

     We design sites for optimal use on smartphones and tablet devices as well as on desktops computers.

 </li>
 <li>

    <a title="View all examples for Ruby on Rails Development Services" href="http://localhost:3000/technologies/350860022">

     Intranet/Extranet

 </a>
 <br></br>

 Login-based online resources for teams, companies, and organizations to interact via the web to communicate and share more effectively.
</li>

</ul>

</div>