<h1>Project Show</h1>
<li><%=  @project.name %></li>

<li> Company Name: <%= @project.company.name %></li>
<li> Default Rate <%= @project.default_rate %></li>

<p><%= link-to 'All Projects', projects_path %></p>