<h1>Companes Show</h1>
<p><%=  @company.name %></p>

<table>
	<tr>
		<th>Project</th>
		<th>Company</th>
	</tr>

	<%= render partial: "project/project", collection: @company.projects %>
	</tbody>
</tbody>
</table>



<% content_for :aside do %>
<% render 'sidebar' %>
<% end %>